<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webhost</title>

    

    <link rel="shortcut icon" href="/static/logoofav.31e84ce0.png" type="image/png">

  <link rel="stylesheet" href="/static/index.b049a508.css">
</head>

<body class="overflow-x-hidden">

    <header>
        <nav>
            <div class="navbar flex justify-around items-center w-screen h-[5rem] bg-slate-200 border-2 ">
                <div class="logo">
                    <img src="/static/logoofav.31e84ce0.png" alt="" class="w-[4rem]">
                </div>

                <div class="links">
                    <a href="#" class="font-bold text-lg text-black ml-4">Domain</a>
                    <a href="#" class="font-bold text-lg text-black ml-4">Host</a>
                    <a href="#" class="font-bold text-lg text-black ml-4">Plans</a>
                    <a href="#" class="font-bold text-lg text-black ml-4">Account</a>
                </div>

                <div class="btnslinks">
                    <a href="#" class="bg-black p-3 rounded-md text-xl font-bold text-white">Login</a>
                    <a href="#" class="bg-black p-3 rounded-md text-xl font-bold  ml-5 text-white">SignUp</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="imgback mt-2">
            <img src="/static/backima.706a6911.webp" class="w-[80vw] h-[40rem] m-auto rounded-xl">
        </div>

        <div class="boxinfo flex justify-around items-center w-screen h-[25rem]">

            <div class="imagehost">
                <img src="/static/webhost.b2985292.png" alt="" class="cursor-pointer">
            </div>

            <div class="info">
                <h1 class="text-black font-bold">What is Hosting ?</h1>
                <h1 class="text-black font-bold">What is StaticWebsite ?</h1>
                <h1 class="text-black font-bold">What is DynamicWebsite ?</h1>
                <h1 class="text-black font-bold">How to handle Website Server ?</h1>
                <h1 class="text-black font-bold">What is HTTP and HTTPS ?</h1>
                <h1 class="text-black font-bold mt-10 mb-10">All this question answer is available in One Video On Click
                    on Video Button </h1>
                <a href="#" class="bg-black p-2 font-bold text-white rounded-lg">Video</a>
            </div>
        </div>

        <div class="hosting w-screen h-[25rem]  font-bold text-black p-10">

            <h1 class="text-2xl text-center">WebHost</h1>
            <h1 class="text-lg text-left mt-10 font-semibold">WebHost is a Website for HostingPlatform for Website it is fully
                control according to the application needs.A web hosting service is a type of Internet hosting service
                that hosts websites for clients, i.e. it offers the facilities required for them to create and maintain
                a site and makes it accessible on the World Wide Web. Companies providing web hosting services are
                sometimes called web hosts.
                Typically, web hosting requires the following
                one or more servers to act as the host(s) for the sites; servers may be physical or virtual
                colocation for the server(s), providing physical space, electricity, and Internet connectivity
                Domain Name System configuration to define name(s) for the sites and point them to the hosting server(s
                a web server running on the host
                for each site hosted on the server
                space on the server(s) to hold the files making up the site
                site-specific configuration
                often, a database
                software and credentials allowing the client to access these, enabling them to create, configure, and
                modify the site
                email connectivity allowing the host and site to send email to the client. </h1>



        </div>
    </main>

</body>

</html>